.navbar {
    display: block;
    overflow: hidden;
    background-color: darkviolet;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-none{
    display: none;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    cursor: pointer;
}

.navbar a:hover {
    background-color: deeppink;
}

.main-navbar-none{
    height: 100%;
}
.main-navbar {
    margin-top: 60px;
    height: 100%;
}

#logout {
    float: right;
    margin-right: 20px;
}
