*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex; 
    justify-content: center;
}

p{
  font-weight: bold;
  color: #818181;
  justify-content: flex-start;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label#thumbnail {
    margin-bottom: 20px;
    border: 3px dashed #dddddd;
    background-size: cover; 
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label#thumbnail input{
    display: none;
}

input, select{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 30px;
  font-size: 16px;
}

select {
  border: 0.5px solid #b1b1b1;
}

input {
  padding: 8px 15px;
}
