<div class="title">
    <img src="../../assets/store.png" alt="logo" width = "100" height = "100">
    <h1>Amazing Supermarkets!</h1>
    <h4>Browse throghout some of the best stores in the internet!</h4>
</div>
<div *ngFor="let category of categories" class = "container">
    <h3>{{category}}</h3>
    <div *ngIf="markets" class="content">
        <div *ngFor = "let market of markets" class="content">
                <div class="card" *ngIf="market.category == category" (click)='navigateToPage(market)'>
                        <img src={{market.thumbnail_url}} alt="market photo">
                        <p>{{market.name}}</p>
                <div>
        </div>
    </div>
</div>


