* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title  {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h4{
    color: #818181;
}
h3 {
    margin: 20px;
}

.container {
    margin-left: 20px;
}
.content { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    width: 220px;
    min-height: 250px;
    max-height: 300px;
    margin: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card:hover {
    transform: scale(1.15);
}

.card img {
    width: 100%;
    min-height: 150px;
}

